<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>commentServlet</servlet-name>
    <servlet-class>com.coinjema.server.CommentServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.coinjema.server.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/comments/user</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>commentServlet</servlet-name>
    <url-pattern>/comments/browse</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Comments.html</welcome-file>
  </welcome-file-list>

</web-app>
